<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="lidar">

    <!-- Lidar1 -->
    <link name="Lidar1_link"/>
    <gazebo reference="Lidar1_link">
        <sensor name="Lidar1_link" type="gpu_lidar">
            <gz_frame_id>Lidar1_link</gz_frame_id>
            <!-- <topic>lidar1_scan</topic> -->
            <topic>scan</topic>
            <update_rate>30</update_rate>

            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>0.1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
                <!-- <frame_id>odom</frame_id> -->
            </lidar>
            <alwaysOn>true</alwaysOn>
            <visualize>true</visualize>
        </sensor>
    </gazebo>

    <!-- Lidar2 -->
    <!-- <link name="Lidar2_link"/>
    <gazebo reference="Lidar2_link">
        <sensor name="lidar2" type="gpu_lidar">
            <gz_frame_id>base_link</gz_frame_id>
            <topic>lidar2_scan</topic>
            <update_rate>30</update_rate>

            <lidar>
                <scan>
                    <horizontal>
                        <samples>360</samples>
                        <resolution>1</resolution>
                        <min_angle>-3.14</min_angle>
                        <max_angle>3.14</max_angle>
                    </horizontal>
                    <vertical>
                        <samples>1</samples>
                        <resolution>0.1</resolution>
                        <min_angle>0.0</min_angle>
                        <max_angle>0.0</max_angle>
                    </vertical>
                </scan>
                <range>
                    <min>0.3</min>
                    <max>12</max>
                </range>
                <frame_id>base_link</frame_id>
            </lidar>
            <alwaysOn>true</alwaysOn>
            <visualize>true</visualize>
        </sensor>
    </gazebo> -->


</robot>